{include file='/common/head'}
<body>
{include file='/common/header'}
<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{:url('index/index/index')}"><i class="fa fa-home" aria-hidden="true"></i> 主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">更改密码</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>很高兴你回来了！</h4>
                        <div class="line"></div>
                    </div>

                    <form action="{:url('index/login/forgot_password')}" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="请输入邮箱" style="background: white;">
                            <a href="javascript:;" class="btn btn-info" id="send_code" onclick="get_code()">获取验证码</a>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-shield-plus"></i></span>
                            </div>
                            <input type="text" class="form-control" name="code" placeholder="请输入验证码" style="background-color: white;">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-shield-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="请输入新密码" style="background: white;">
                        </div>
                        <button type="submit" class="btn vizew-btn w-100 mt-30">更改密码</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Login Area End ##### -->
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            {include file='/common/foot_board_message'}
            {include file='/common/foot_message_list'}
            {include file='/common/foot_videos'}
            {include file='/common/foot_address'}
        </div>
    </div>

{include file='/common/foot'}

<script>
    function get_code()
    {
        $.ajax({
            url:"{:url('index/login/send_email')}",
            type:'POST',
            data:{email:$('#exampleInputEmail1').val()},
            success: function(data){
                if(data.code == 200){
                    console.log(1);
                    timefsyzm_old();
                }else{
                    console.log(2);
                }
            },
            error: function(data){
                alert("请输入邮箱账号或者确认网络通畅,获取验证码失败！");
            }
        })
        
    }
    var oldwait = 60;
    function timefsyzm_old(){
        var obj = $("#send_code");
        if (oldwait == 0){
            $(obj).attr("onclick", "get_code()");
            $(obj).html("获取验证码");
            oldwait = 60;
        }else{
            $(obj).removeAttr("onclick");
            $(obj).html("重新发送("+ oldwait +")");
            oldwait--;
            setTimeout(function(){
                timefsyzm_old();
            },1000)
        }
    }
</script>
