<div class="col-12 col-sm-6 col-xl-3">
    <div class="footer-widget mb-70">
        <h6 class="widget-title">地址</h6>
        <!-- Contact Address -->
        <div class="contact-address">
            <p>中国重庆, <br>渝北</p>
            <p>电话: 023-88888888</p>
            <p>邮箱: 1850529744@qq.com</p>
        </div>
        <!-- Footer Social Area -->
        <div class="footer-social-area">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>