<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>游戏交流网站</title>

    <!-- Favicon -->
    <link rel="icon" href="/tp5/public/static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/tp5/public/static/css/style.css">

    <link rel="stylesheet" href="/tp5/public/static/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="/tp5/public/static/fonts/node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>