<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
  <i class="hamburger align-self-center"></i>
</a>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <img src="/tp5/public{$userinfo.avatar}" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">{$userinfo.username}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{:url('admin/user/profile',['id'=>$userinfo.id])}"><i class="align-middle me-1" data-feather="user"></i>个人简介</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> 设置 & 隐私</a>
                        <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> 帮助中心</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{:url('admin/login/logout')}">退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>